.asideLeft {
  display: none;

  padding: 20px;

  max-width: 220px;
}

.asideRight {
  display: none;

  padding: 20px;

  max-width: 220px;
}
@media (min-width: 768px) {
  .asideLeft {
    display: block;

    padding: 20px;
    border-right: 1px solid #d1d;
    max-width: 220px;
  }
  .asideRight {
    display: block;
    padding: 20px;
    border-left: 1px solid #d1d;
    max-width: 220px;
  }
}
