.advantages__list {
  margin: 0 auto;
  align-content: center;
  gap: 30px;
  list-style: none;
  /* grid-template-columns: repeat(4, 1fr);*/
}
.invisible {
  position: absolute;
  opacity: 0;
}
.advantages__feature {
  margin: 0 auto;
  width: 100%;
  padding-bottom: 40px;
}
/* Блок __group (.advantages__group) */
.advantages__group {
  /*max-width: 450px;*/
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #f5f4fa;
}
/* Блок __icon (.advantages__icon) */
.advantages__icon {
  /*width: 70px;
  height: 70px;*/
  width: 6rem;
  height: auto;
}
.advantages__title-grup {
  text-align: center;
  /* Заглушка для переменной $colorTxt-secondary. */
  color: #212121;
  /* Часто используется для вторичного текста */
  /* Заглушка для fontSize().text-align: center; */
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 30px;
  padding-bottom: 10px;
}
/* Блок __text (.advantages__text) */
.advantages__text {
  /*display: inline-block;
  /Заглушка для fontSize(). 
  font-size: 14px;*/
  font-weight: 400;
  margin-bottom: 30px;
  text-align: left;

}

@media (min-width: 480px) {
  .advantages__title-grup {
    text-align: start;
  }
}
@media (min-width: 768px) {
  .advantages__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }
    .advantages__feature {
    padding-bottom: 0px;
  }
}

/* Медиа-запрос для .advantages__feature (min-width: 1200px) */
@media (min-width: 1280px) {
  .advantages {
    margin-top: 93px;
    margin-bottom: 0;
  }

  .advantages__list {
    grid-template-columns: repeat(4, 1fr);
  }
}
