.clients__list {
  margin: 0 auto;
  align-content: center;
  gap: 30px;
  list-style: none;
}

.clients {
  text-align: center;
}

.clients__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  padding-bottom: 30px;
  /* Цвет заголовка: #212121 */
  color: #212121;
}

/* 📱 МОБИЛЬНЫЙ (По умолчанию): 2 клиента в ряд */
.clients__list {
  display: grid;
  /* Промежуток (gap): 30px */
  gap: 30px;
  grid-template-columns: repeat(2, 1fr);
}

.clients__item {
  display: flex;
  height: 92px;
  justify-content: center;
  align-items: center;

  /* Цвет ссылок/бордера: #AFB1B8 */
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;

  margin-bottom: 0;
  transition: fill 500ms ease-in-out;
}

.clients__link {
  display: flex;
  padding: 0;
  margin: 0;
  fill: inherit;
}

.clients__icon {
  width: 106px;
  height: 40px;
  fill: inherit;
}
/*
 * ------------------------------------------------------------------
 * СТИЛИ ХОВЕРА
 * ------------------------------------------------------------------
 */
.clients__item:hover,
.clients__item:focus {
  /* Акцентный цвет: #2196F3 */
  border: 1px solid #2196f3;
  fill: #2196f3;
  cursor: pointer;
  transition: fill 250ms ease-in-out, border-color 250ms ease-in-out;
}

@media (min-width: 768px) {
  .clients__list {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Медиа-запрос для .advantages__feature (min-width: 1200px) */
@media (min-width: 1280px) {
  .clients__title {
    padding-bottom: 50px;
    font-size: 36px;
  }

  .clients__list {
    grid-template-columns: repeat(6, 1fr);
  }
}
