.asideLeft {
  display: none;
  /*
  background-color: #6fabe7;*/
  padding: 20px;
  border-right: 1px solid #ddd;
}

.asideRight {
  display: none;
  /*
  background-color: #1e67af;*/
  padding: 20px;
  border-left: 1px solid #ddd;
}

.section {
  text-align: center;
  margin-bottom: 50px;
  /*background-color: #666666;*/

}

.section_title {
  font-size: 24px;
  

  padding: 30px 0;
  margin-bottom: 30px;
}

.article {
  text-align: left;
  margin-bottom: 20px;
}

.article_title {
  font-size: 20px;
  margin-bottom: 10px;
}

.asideLeft {
  font-size: 18px;
  margin-bottom: 10px;
}

.asideRight {
  font-size: 18px;
  margin-bottom: 10px;
}

.aside_title {
  font-size: 18px;
  margin-bottom: 10px;
}